* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #222237;
}

.menu {
  position: relative;
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu .toggle {
  position: absolute;
  height: 300px;
  width: 300px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  cursor: pointer;
  transition: 0.5s;
}

.menu .toggle .active {
  transform: rotate(315deg);
  box-shadow: 0 0 0 100px #fff;
  background-color: #222237;
  color: #fff;
}

.menu li {
  position: absolute;
  width: 50px;
  height: 50px;
  list-style: none;
  text-align: center;
  transform-origin: center center;
  transition: all 0.5s ease-in-out;
  opacity: 0; /* Inicia com opacidade 0 */
}

.menu li a {
  display: block;
  width: 100%;
  height: 100%;
}

.menu li img {
  width: 70px; /* Ajuste o tamanho da largura conforme necessário */
  height: 70px; /* Ajuste o tamanho da altura conforme necessário */
  border-radius: 25%; /* Faz a imagem ficar redonda */
  object-fit: cover; /* Faz a imagem cobrir todo o espaço disponível */
  transition: 0.5s;
  z-index: 10;
}

.menu.active li {
  visibility: visible;
  opacity: 1; /* Define opacidade para 1 quando a li está ativa */
}

.menu li.activeLi {
  opacity: 0;
}

.menu.active li:nth-child(2) {
  transform: rotate(0deg) translateY(-210px);
}

.menu.active li:nth-child(3) {
  transform: rotate(21deg) translateY(-210px);
}
.menu.active li:nth-child(4) {
  transform: rotate(42deg) translateY(-210px);
}
.menu.active li:nth-child(5) {
  transform: rotate(63deg) translateY(-210px);
}
.menu.active li:nth-child(6) {
  transform: rotate(84deg) translateY(-210px);
}
.menu.active li:nth-child(7) {
  transform: rotate(105deg) translateY(-210px);
}
.menu.active li:nth-child(8) {
  transform: rotate(126deg) translateY(-210px);
}
.menu.active li:nth-child(9) {
  transform: rotate(147deg) translateY(-210px);
}
.menu.active li:nth-child(10) {
  transform: rotate(168deg) translateY(-210px);
}
.menu.active li:nth-child(11) {
  transform: rotate(189deg) translateY(-210px);
}
.menu.active li:nth-child(12) {
  transform: rotate(210deg) translateY(-210px);
}
.menu.active li:nth-child(13) {
  transform: rotate(231deg) translateY(-210px);
}
.menu.active li:nth-child(14) {
  transform: rotate(252deg) translateY(-210px);
}
.menu.active li:nth-child(15) {
  transform: rotate(273deg) translateY(-210px);
}
.menu.active li:nth-child(16) {
  transform: rotate(294deg) translateY(-210px);
}
.menu.active li:nth-child(17) {
  transform: rotate(316.5deg) translateY(-210px);
}
.menu.active li:nth-child(18) {
  transform: rotate(338deg) translateY(-210px);
}
